* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: 
    rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px ;

}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
#nav i{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h3{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 33px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    background-color: orangered;
    border: none;
    color:rgb(255, 255, 255);
}
#dh1{
    padding-top: 40px;
    font-size: 160px;
    text-transform: uppercase;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-position: top;
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}