 body {
        font-family: Arial, sans-serif;
        padding: 40px;
        background: #201e2a;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 400px;
        background: rgb(250, 223, 194);
        padding: 20px;
        border-radius: 10px;
        margin: auto;
        box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    textarea {
        width: 95%;
        height: 120px;
        font-size: 16px;
        padding: 10px;
        resize: none;
        border-radius:12px
    }

    #counter {
        margin-top: 8px;
        font-size: 16px;
        font-weight: bold;
        color: green;
    }