*{
    margin: 0;
    padding:0;
    font-family: Arial; 
    border:border-box;
    box-sizing:border-box;
}

.navbar{
    height: 60px;
    background-color: #030303;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("sun.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.logo:hover{
    border: 1.5px solid white;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* Box 2 */
.add-first{
    font-size: 1rem;
    margin-left: 15px;
}

.add-second{
    color:#cccccc;
    font-size: 0.8rem;
}

.add-icon{
    display:flex;
    align-items: center;
}

/* Box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #56021F;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border:none
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#030303;
}

.nav-search:hover{
    border: 2.7px solid #5d2492;
}


/* box 4 */
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/* box6 */

.nav-cart i{
     font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
      height: 40px;
      background-color: #222f3d;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-evenly;
}

.panel-ops p{ 
    display: inline;
    margin-left: 5%;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url(solo.avif);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    color: #030303;
    background-color: rgb(231, 158, 158);
    border:2px solid #030303;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 100%;
}

.hero-message a{
       color:gold;
}

/* shop */
.shop-section{
    display: flex;
    justify-content: space-evenly;
}

 .box{
    height: 330px;
    width: 99%;
    margin: 3%;
    /* border: 2px solid rgb(0, 0, 0); */
    background-size: cover;
    display: flex;
    justify-content: space-evenly;

} 

/* .box:hover{
    border: 3.7px solid #000000;
} */

.box1:hover{
    border: 3.7px solid white;
}

 .box2:hover{
    border: 3.7px solid #ffffff;
} 

 .box3:hover{
    border: 3.7px solid #ffffff;
}

.box4:hover{
    border: 3.7px solid #ffffff;
}

.box2{
    background-image: url(Sasuke\ Uchiha.jpg);
    background-size: cover;
}

.box3{
    background-image: url(gojo1.jpg);
    background-size: cover;
}
.box4{
    background-image: url(asta.jpg);
    background-size: cover;
} */

.solo{
    height: 800px;
   
}
 

.solo1{
    margin: 30px ;
    padding: 2em;
    height:200px;
    width: 200px;
    border-radius: 10px;
    border:  black;
    background-image: url(sunjinfinal.jpg);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.solo1::after, .solo1::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,rgb(14, 219, 14),rgb(204, 28, 57),rgb(223, 147, 6),rgb(0, 0, 172),red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

 
/* box1 */
.box1{
    margin: 30px ;
    padding: 2em;
    height:200px;
    width: 200px;
    border-radius: 10px;
    /* border:  black; */
    background-image: url(gojo4.jpg);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box1::after, .box1::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,rgb(14, 219, 14),rgb(204, 28, 57),rgb(223, 147, 6),rgb(0, 0, 172),red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.box1::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
       --angle:360deg;
    }
}

/* box2 */
.box2{
    margin: 30px ;
    padding: 2em;
    height:200px;
    width: 200px;
    border-radius: 10px;
    border:  black;
    background-image: url(vooley.jpg);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box2::after, .box2::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,rgb(14, 219, 14),rgb(204, 28, 57),rgb(223, 147, 6),rgb(0, 0, 172),red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.box2::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
       --angle:360deg;
    }
}

/* box3 */
.box3{
    margin: 30px ;
    padding: 2em;
    height:200px;
    width: 200px;
    border-radius: 10px;
    border:  black;
    background-image: url(ssasuke.jpg);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box3::after, .box3::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,rgb(14, 219, 14),rgb(204, 28, 57),rgb(223, 147, 6),rgb(0, 0, 172),red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.box3::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
       --angle:360deg;
    }
}

/* box4 */
.box4{
    margin: 30px ;
    padding: 2em;
    height:200px;
    width: 200px;
    border-radius: 10px;
    border:  black;
    background-image: url(solocharater3.jpg);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box4::after, .box4::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,rgb(14, 219, 14),rgb(204, 28, 57),rgb(223, 147, 6),rgb(0, 0, 172),red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.box4::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
       --angle:360deg;
    }
}


/* body bubbles */
body{
    height: 600px;
    width: 100%; 
    min-height: 100vh;
    background:#0c192c;
}
.conatiner
{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles
{
    position: relative;
    display: flex;
}

.bubbles span
{
  position: relative;
  width: 30px;
  height: 30px;
  background: #150c64;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow:  0 0 0 10px #261d7a, 0 0 50px #34a3b9,
  0 0 100px #0d0553;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #992199;
    box-shadow:  0 0 0 10px #732d88, 0 0 50px #4a9acf44,
    0 0 100px #2a3da3;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translate(-10vh) scale(1);
    }
}

/* body height */
.dd{
    height: 600px;
}

/* body box */
    .ddbox{
    margin-top: 20px;
    margin-left: 20px;
    height:600px;
    width:95%;
    border: 2px solid black;
} 



/* border color ddbox */

.ddbox{
    margin-top: 30px ;
    margin-left: 30px;
    padding: 2em;
    height:600px;
    width: 95%;
    border-radius: 10px;
    border: black;
    background-image: url(solo.avif);
    background-size: cover;
    position: relative;
}
@property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.ddbox::after, .ddbox::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), rgb(211, 9, 241),rgb(211, 9, 241),rgb(12, 89, 255),rgb(255, 14, 34),rgb(255, 12, 85),rgb(211, 9, 241));
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.ddbox::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
       --angle:360deg;
    }
}

/* box a */
/* /* .a{
    height: 250px;
    width: 800px;
    border: 2px solid black;
} */

/* box b */
.b{
    height: 250px;
    width: 270px;
   
}
 

/* box d */
.d{
    border-radius: 8px;
    margin-top: 20px;
    height: 350px;
    width: 100%;
    
}

/* ddbox  */
  .ddbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-items: center;
    justify-content: space-evenly;
  }

  /* video */
  .back-video{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: +1;
  }

  

/* dbox */

.dd1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-items: center;
    justify-content: space-evenly;
}


.d1{
    background-image: url(solocharacter.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid black;
}
.d2{
    background-image: url(solocharcter7.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid black;
}
.d3{
    background-image: url(solocharcter1.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid black;
}
.d4{
    background-image: url(solocharcter3.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(0, 0, 0);
}
.d5{
    background-image: url(solocharacter5.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(0, 0, 0);
}
.d6{
    background-image: url(chae.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(0, 0, 0);
}
.d7{
    background-image: url(chae2.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(0, 0, 0);
}
.d8{
    background-image: url(chae3.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}
.d9{
    background-image: url(chae4.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}
.d10{
    background-image: url(chae5.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}
.d11{
    background-image: url(chae6.jpg);
    background-size: cover;
    margin-right: 5px;
    border-radius: 15%;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}
.d12{ background-image: url(chae7.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}
.d13{
     background-image: url(chae12.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 3px solid rgb(255, 255, 255);
}
.d14{
    background-image: url(chae14.jpg);
    background-size: cover;
    border-radius: 15%;
    margin-right: 5px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 255, 255);
}

/* hover box */

.d1:hover{
    border: 4px solid rgb(255, 255, 255);
}
.d2:hover{
    border: 4px solid rgb(255, 255, 255);
}
.d1:hover{
    border: 4px solid rgb(255, 255, 255);
}
.d3:hover{
    border: 4px solid white;
}
.d4:hover{
    border: 4px solid white;
}
.d5:hover{
    border: 4px solid white;
}
.d6:hover{
    border: 2.5px solid white;
}
.d7:hover{
    border: 4px solid white;
}
.d8:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d9:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d10:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d11:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d12:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d13:hover{
    border: 4px solid rgb(0, 0, 0);
}
.d14:hover{
    border: 4px solid rgb(0, 0, 0)
}
