*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav h3{
    font-size: 20px;
    font-weight: 500;
}
#nav h4{
    font-size: 20px;
    font-weight: 500;
}
#nav h2{
    font-size: 20px;
    font-weight: 500;
}
#content{
    margin-top: 80px;
    padding: 30px 50px;
}
#content h3{
    font-size: 25px;
    font-weight: 500;
}
#content h1{
    margin-top: 19px;
    font-size: 98px;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -2px;
    word-spacing: 10px;
}

#case{
    padding: 30px 50px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
#case h4{
    font-size: 25px;
    font-weight: 500;
}
#case h5{
    font-size: 25px;
    font-weight: 500;
}
#right{
    display: flex;
    align-items: center;
    gap: 20px;
}
#line{
    height: 2px;
    width: 150px;
    background-color: black;
}
#project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
.elem{
    width: 60;
}

#project h2{
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 30px;
}

#project h4{
    font-family: 20px;
    font-weight: 300;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom i{
    padding: 15px 30px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50px;
}

.bottom i:hover{
    background-color: black;
    color: white;

}