    body {
        font-family: Arial, sans-serif;
        background: #3c3f45;
        padding: 40px;
        text-align: center;
    }

    h2 {
        color: white;
        transition: all 0.3s ease-out;
    }

    .carousel-box {
        width: 500px;
        height: 300px;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-out;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    }
    
    .carousel-box:hover {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        transform: scale(110%);
    }

    .carousel-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .controls {
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin: 0 5px;
        background: #141f2a;
        color: white;
    }
