*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 99%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px  40px ;
}

#intro{
    height: 50%;
    width: 99%;
    /* background-color: blanchedalmond; */
    padding: 40px 10px;
}

#intro h1{
    font-size: 100px;
    letter-spacing: -3px;
    line-height: 90px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#palce h3,#place h4{
    font-size: 20px;
    font-weight: 5px;
}

#model{
    height: 87%;
    width: 99%;
    background-image: url(top\ gear.jpg);
    background-color: orange;
    background-size: contain;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 5px;
}
#about{
    height: 45%;
    width: 99%;
    /* background-color: rgb(80, 53, 27); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    
}
#about h2{
    /* background-color: red; */
    width: 65%;
    /* height: 100%; */
    font-size: 60px;
    line-height: 55px;
    height: 100%;
    letter-spacing: -3px;
    
   
}
#about-part2{
    width: 30%;
    /* background-color: yellow; */
    height: 100%;
    border-left: 2px solid black;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* #icon{

} */

#icon i{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 5px;
}

#work{
    height: 60%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
}
#work1{
    width: 30%;
    height: 100%;
    /* background-color: red;  */
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
#work1 h3{
    font-size: 23px;
}
#work1 i{
    font-size: 23px;
}
#work2{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    padding: 0 50px;
}

.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.work2-part:nth-child(1){
    /* background-color: blue; */
    border-bottom: 2px solid black
    ;
}

.work2-part .lm{
    width: 50%;
    height: 100%;
}
.work2-part .lm:nth-child(1){
   border-right: 1px solid black;
   padding-right: 20px;
}
.work2-part .lm:nth-child(2){
   padding-left: 30px;
}

.work2-part .lm h4{
    font-size: 35px;
}